<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xupt.ttms.mapper.CommentMapper">
  <resultMap id="BaseResultMap" type="com.xupt.ttms.model.Comment">
    <id column="comment_id" jdbcType="INTEGER" property="commentId" />
    <result column="play_id" jdbcType="INTEGER" property="playId" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="comment_text" jdbcType="VARCHAR" property="commentText" />
    <result column="comment_time" jdbcType="TIMESTAMP" property="commentTime" />
    <result column="comment_level" jdbcType="SMALLINT" property="commentLevel" />
    <result column="comment_status" jdbcType="SMALLINT" property="commentStatus" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    comment_id, play_id, user_id, comment_text, comment_time, comment_level, comment_status
  </sql>
  <select id="selectByExample" parameterType="com.xupt.ttms.model.CommentExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from comment
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from comment
    where comment_id = #{commentId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from comment
    where comment_id = #{commentId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.xupt.ttms.model.CommentExample">
    delete from comment
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.xupt.ttms.model.Comment">
    insert into comment (comment_id, play_id, user_id, 
      comment_text, comment_time, comment_level, 
      comment_status)
    values (#{commentId,jdbcType=INTEGER}, #{playId,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, 
      #{commentText,jdbcType=VARCHAR}, #{commentTime,jdbcType=TIMESTAMP}, #{commentLevel,jdbcType=SMALLINT}, 
      #{commentStatus,jdbcType=SMALLINT})
  </insert>
  <insert id="insertSelective" parameterType="com.xupt.ttms.model.Comment">
    insert into comment
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="commentId != null">
        comment_id,
      </if>
      <if test="playId != null">
        play_id,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="commentText != null">
        comment_text,
      </if>
      <if test="commentTime != null">
        comment_time,
      </if>
      <if test="commentLevel != null">
        comment_level,
      </if>
      <if test="commentStatus != null">
        comment_status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="commentId != null">
        #{commentId,jdbcType=INTEGER},
      </if>
      <if test="playId != null">
        #{playId,jdbcType=INTEGER},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="commentText != null">
        #{commentText,jdbcType=VARCHAR},
      </if>
      <if test="commentTime != null">
        #{commentTime,jdbcType=TIMESTAMP},
      </if>
      <if test="commentLevel != null">
        #{commentLevel,jdbcType=SMALLINT},
      </if>
      <if test="commentStatus != null">
        #{commentStatus,jdbcType=SMALLINT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.xupt.ttms.model.CommentExample" resultType="java.lang.Long">
    select count(*) from comment
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update comment
    <set>
      <if test="record.commentId != null">
        comment_id = #{record.commentId,jdbcType=INTEGER},
      </if>
      <if test="record.playId != null">
        play_id = #{record.playId,jdbcType=INTEGER},
      </if>
      <if test="record.userId != null">
        user_id = #{record.userId,jdbcType=INTEGER},
      </if>
      <if test="record.commentText != null">
        comment_text = #{record.commentText,jdbcType=VARCHAR},
      </if>
      <if test="record.commentTime != null">
        comment_time = #{record.commentTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.commentLevel != null">
        comment_level = #{record.commentLevel,jdbcType=SMALLINT},
      </if>
      <if test="record.commentStatus != null">
        comment_status = #{record.commentStatus,jdbcType=SMALLINT},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update comment
    set comment_id = #{record.commentId,jdbcType=INTEGER},
      play_id = #{record.playId,jdbcType=INTEGER},
      user_id = #{record.userId,jdbcType=INTEGER},
      comment_text = #{record.commentText,jdbcType=VARCHAR},
      comment_time = #{record.commentTime,jdbcType=TIMESTAMP},
      comment_level = #{record.commentLevel,jdbcType=SMALLINT},
      comment_status = #{record.commentStatus,jdbcType=SMALLINT}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.xupt.ttms.model.Comment">
    update comment
    <set>
      <if test="playId != null">
        play_id = #{playId,jdbcType=INTEGER},
      </if>
      <if test="userId != null">
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="commentText != null">
        comment_text = #{commentText,jdbcType=VARCHAR},
      </if>
      <if test="commentTime != null">
        comment_time = #{commentTime,jdbcType=TIMESTAMP},
      </if>
      <if test="commentLevel != null">
        comment_level = #{commentLevel,jdbcType=SMALLINT},
      </if>
      <if test="commentStatus != null">
        comment_status = #{commentStatus,jdbcType=SMALLINT},
      </if>
    </set>
    where comment_id = #{commentId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xupt.ttms.model.Comment">
    update comment
    set play_id = #{playId,jdbcType=INTEGER},
      user_id = #{userId,jdbcType=INTEGER},
      comment_text = #{commentText,jdbcType=VARCHAR},
      comment_time = #{commentTime,jdbcType=TIMESTAMP},
      comment_level = #{commentLevel,jdbcType=SMALLINT},
      comment_status = #{commentStatus,jdbcType=SMALLINT}
    where comment_id = #{commentId,jdbcType=INTEGER}
  </update>
</mapper>